<% title "Plage horaire" %>

<p>
  <strong>Nom:</strong>
  <%=h @slot.name %>
</p>
<!-- <p> -->
<!--   <strong>Desc:</strong> -->
<!--   <%=h @slot.desc %> -->
<!-- </p> -->
<p>
  <strong>Debut:</strong>
  <%=h @slot.start %>
</p>
<p>
  <strong>Fin:</strong>
  <%=h @slot.end %>
</p>
<p>
  <strong>Programme:</strong>
  <%=h @slot.program.name %>
</p>
<p>
  <strong>Autorise le live:</strong>
  <%=h @slot.allow_live %>
</p>

<p>
  <%= link_to "Editer", edit_slot_path(@slot) %> |
  <%= link_to "Supprimer", @slot, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Retour au planning", slots_path %>
</p>
