<% title "Programme" %>

<p>
  <strong>Name:</strong>
  <%=h @program.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @program.desc %>
</p>

<p>
  <%= link_to "Editer", edit_program_path(@program) %> |
  <%= link_to "Supprimer", @program, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Retour a la liste des programmes", programs_path %>
</p>
