<% title "Programme" %>

<p>
  <strong>Nom du programme:</strong>
  <%=h @program.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @program.desc %>
</p>
<p>
  <strong>Playlist assignee a ce programme:</strong>
  <%=h @program.playlist.name %>
</p>
<p>
  <strong>Contributeurs:</strong>
  <% for u in @program.users %>
    <%=h u.username %> |
  <% end %>
</p>

<p>
  <strong>Programmation:</strong>
  <% for slot in @program.slots %>
    <%=h slot.name %> |
  <% end %>
</p>



<p>
  <%= link_to "Editer", edit_program_path(@program) %> |
  <%= link_to "Supprimer", @program, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Retour a la liste des programmes", programs_path %>
</p>
