<% form_for @audio_file do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :audio_file_style_id %><br />
    <%= f.text_field :audio_file_style_id %>
  </p>
  <p>
    <%= f.label :audio_file_type_id %><br />
    <%= f.text_field :audio_file_type_id %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :metric %><br />
    <%= f.text_field :metric %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
