<% form_for @audio_file do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :audio_file_type_id %><br />
    <%= collection_select(:audio_file, :audio_file_type_id, AudioFileType.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :audio_file_style_id %><br />
    <%= collection_select(:audio_file, :audio_file_style_id, AudioFileStyle.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :metric %><br />
    <%= f.text_field :metric %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
