<% title "Fichiers sons" %>

<p>
<% form_for :audio_files, :url => audio_files_path, :html => {:method => :get} do |form| %>
  Filter les fichiers affiches :
  <%= collection_select(:user, :username, User.all(:order => 'username'), :username, :username, {:include_blank => 'user'}) %>
  <%= collection_select(:audio_file_type, :id, AudioFileType.all(:order => 'name'), :id, :name, {:include_blank => 'type'}) %>
  <%= collection_select(:audio_file_style, :id, AudioFileStyle.all(:order => 'name'), :id, :name, {:include_blank => 'style'}) %>
  <%= submit_tag 'Appliquer' %>
<% end %>
</p>

<p>
<%= will_paginate @audio_file %>
</p>

<% form_tag mass_update_audio_files_path, :method => :put do %>

<table>
  <tr>
    <th>X</th>
    <th>Utilisateur</th>
    <th>Fichier</th>
    <th>Type</th>
    <th>Style</th>
    <th>Duree(s)</th>
    <th>Metric</th>
  </tr>
  <% for audio_file in @audio_files %>
    <tr id="audio_file_<%= audio_file.id%>">
<!--       <td>drag</td> -->
      <td><%= check_box_tag "audio_files_ids[]", audio_file.id, false, :class => 'audio_file_checkbox' %></td>
      <td><%= h audio_file.user.username %></td>
      <td><%= audiofile_pretty_printer audio_file %></td>
      <td><%= h audio_file.audio_file_type.name %></td>
      <td><%= h audio_file.audio_file_style.name %></td>
      <td><%= h seconds_to_string(audio_file.duration) %></td>
      <td><%= h audio_file.metric %></td>
      <td><%= link_to "Edition", edit_audio_file_path(audio_file) %></td>
      <td><%= link_to "Supprimer", audio_file, :confirm => 'Etes vous surs de vouloir supprimer ce fichier ?', :method => :delete %></td>
      <% permitted_to? :show, :audio_files do %>
        <td><%= audio_tag audio_file %></td>
      <% end %>
    </tr>
    <%= draggable_element("audio_file_#{audio_file.id}", :ghosting => true,
                          :revert => true) %>
  <% end %>
</table>

<%= link_to_function 'Tous ', "$$('input.audio_file_checkbox').each(function(checkbox) { checkbox.checked = true; });" %> ||
<%= link_to_function ' Aucun', "$$('input.audio_file_checkbox').each(function(checkbox) { checkbox.checked = false; });" %>

<p>
  Changer les attributs des elements selectionnes:
  <%= collection_select(:audio_file_type, :id, AudioFileType.all(:order => 'name'), :id, :name, {:include_blank => 'type'}) %>
  <%= collection_select(:audio_file_style, :id, AudioFileStyle.all(:order => 'name'), :id, :name, {:include_blank => 'style'}) %>
  <%= submit_tag 'Appliquer' %>
</p>
<% end %>

