<% title "Audio File" %>

<p>
  <strong>Fichier:</strong>
  <%=h @audio_file.path %>
</p>
<p>
  <strong>Style:</strong>
  <%=h @audio_file.audio_file_style.name %>
</p>
<p>
  <strong>Type:</strong>
  <%=h @audio_file.audio_file_type.name %>
</p>
<p>
  <strong>Duree (s):</strong>
  <%=h @audio_file.duration %>
</p>
<p>
  <strong>Metric:</strong>
  <%=h @audio_file.metric %>
</p>

<p>
  <%= link_to "Editer", edit_audio_file_path(@audio_file) %> |
  <%= link_to "Supprimer", @audio_file, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Retour a l'index", audio_files_path %>
</p>
