<% form_for @playlist do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </p>
  <p>
    <%= f.label :playlist_type_id %><br />
    <%= collection_select(:playlist, :playlist_type_id, PlaylistType.all, :id, :name) %>
  </p>
  <p>
    <%= f.label :playlist_player_id %><br />
    <%= collection_select(:playlist, :playlist_player_id, PlaylistPlayer.all, :id, :name) %>
  </p>
  <p>
    <%= f.label 'Proprietaire' %><br />
    <%= collection_select(:playlist, :user_id, User.all, :id, :username) %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
