<% title "Playlists" %>

<table>
  <tr>
    <th>Nom</th>
    <th>Description</th>
    <th>Type playlist</th>
    <th>Mode de lecture</th>
  </tr>
  <% for playlist in @playlists %>
    <tr>
      <td><%=h playlist.name %></td>
      <td><%=h playlist.desc %></td>
      <td><%=h playlist.playlist_type.name %></td>
      <td><%=h playlist.playlist_player.name %></td>
      <td><%= link_to "Voir", playlist %></td>
      <td><%= link_to "Editer", edit_playlist_path(playlist) %></td>
      <td><%= link_to "Supprimer", playlist, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Nouvelle Playlist", new_playlist_path %></p>
