<% title "Playlist : #{@playlist.name}" %>

<p>
  <strong>Nom:</strong>
  <%=h @playlist.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @playlist.desc %>
</p>
<p>
  <strong>Type de playlist:</strong>
  <%=h @playlist.playlist_type_id %>
</p>
<p>
  <strong>Mode de lecture:</strong>
  <%=h @playlist.playlist_player_id %>
</p>
<p>
  <strong>Contenu:</strong>
  <%=h @playlist.content %>
</p>

<p>
  <%= link_to "Edition", edit_playlist_path(@playlist) %> |
  <%= link_to "Supprimer", @playlist, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "Retour a la liste des playlists", playlists_path %>
</p>
